@import '../../styles/variables';

.SharkTank__attack {
  display: flex;
  justify-content: space-between;

  margin: 30px;
  padding: 0;
}

.SharkTank__button {
  font-size: 1.5em;
  font-family: $primary-font;

  background-color: transparent !important;
  border-width: 0;
  background: linear-gradient(#be0000, #710000);

  padding: 14px 20px 10px 20px;
}

.SharkTank__button:hover {
  background: linear-gradient(#710000, #be0000);
}

@media (prefers-reduced-motion: no-preference) {
  .SharkTank__button:hover {
    animation: SharkTank__buttonTilt infinite .5s linear;
  }
}

@keyframes SharkTank__buttonTilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.SharkTank__studentCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  margin: 35px 20px;
}
